<!--The content below is only a placeholder and can be replaced.-->
<mat-drawer-container class="example-container" autosize>
<app-header></app-header>
  <mat-drawer #drawer class="example-side row" mode="over">
    <app-add-task></app-add-task>
  </mat-drawer>
  <div class="mainBut">
    <div class="example-side-content">
      <button type="button" (click)="drawer.toggle()" mat-raised-button color="accent">
        Добавить новую задачу
      </button>
    </div>
  </div>
  <app-table></app-table>
</mat-drawer-container>
<router-outlet></router-outlet>
