.mainBut {
  text-align: center;
}

.mainBut button {
  margin: 20px;
}

.example-container {

  border: 1px solid rgba(0, 0, 0, 0.5);
}

.example-sidenav-content {
  display: flex;
  height: 100%;
  align-items: center;
  justify-content: center;
}

.example-sidenav {
  padding: 20px;
  width: 300px;
}

.example-sidenav p{
  text-align: center;
  margin: 10px 10px;
}
