.example-container {
  background: white;
}
.example-full-width {
  max-height: 200px;
  width: 100%;
}
.mainBut {
  text-align: center;
}

.mainBut button {
  margin: 20px;
}

.example-side-content {
  display: flex;
  height: 100%;
  align-items: center;
  justify-content: center;
}

.example-side {
  padding: 20px;
  width: 300px;
}

.example-side p{
  text-align: center;
  margin: 10px 10px;
}

